{% extends 'layout.html.twig' %}
{% set active = 'user_ticket_add' %}

{% block content %}

    <div class="page-header">
        <h3>Ticket Ekle</h3>
    </div>
    <div class="col-sm-3">
        <form action="#" method="post" novalidate {{ form_enctype(form) }} class="form-horizontal">
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock %}

