{% extends 'layout.html.twig' %}
{% set active = 'categories' %}
{% block content %}
    <div class="page-header">
        <h3>Kategori Ekle</h3>
    </div>
    <div class="col-sm-2">
        <form action="#" method="post" novalidate {{ form_enctype(form) }} class="form-horizontal">
            {{ form_widget(form) }}
        </form>
    </div><div class="clearfix"></div>
    {% if categories is not empty %}
        <h3>Ticket Kategorileri</h3>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Adı</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td style="width: 20px;">{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

