{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
    <div class="page-header">
        <h2>Ana Sayfa</h2>
    </div>

    {% if is_granted('ROLE_USER') %}
        <h4>Hoşgeldiniz <strong>{{ app.security.token.username }}</strong></h4>
    {% else %}
        Giriş yapmak için <a href="{{ path('login') }}">{{ 'tıklayın'|trans }}</a>
    {% endif %}
{% endblock %}
