{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
    <h2>Ana Sayfa</h2>


        <h4>Hoşgeldiniz giriş yapmak için <a href="{{ path('login') }}">tıklayın</a></h4>


{% endblock %}
