{% extends 'layout.html.twig' %}
{% set active = 'login' %}

{% block content %}
    <form action="{{ path('login_check') }}" method="post" novalidate {{ form_enctype(form) }} class="form-signin">
        {% if error %}
            <div class="alert alert-danger">
                {{ error |trans}}
            </div>
        {% endif %}
        {{ form_widget(form) }}
    </form>
{% endblock %}

