.logo {
    float: left;
    margin: 9px 10px 0 0;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.container-fluid>.navbar-header {
    margin-left: 85px;
}
#filter-ticket {
    margin-bottom: 20px;
}
#filter-ticket label {
    margin-right: 8px;
}
#filter-ticket div.form-group {
    margin-right: 15px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ccc;
}
.page-header {
    padding-bottom: 0;
    margin: 0 0 20px;
}
.jumbotron {
    padding-top: 35px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .text-muted {
    margin: 23px 0;
}

/* Login Form */

.form-signin {
    max-width: 280px;
    padding: 20px 15px 10px 15px;
    margin: 30px auto;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-signin-heading {
    margin-top: 0;
    text-align: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}
.form-signin label {
    font-size: 16px;
}
.form-signin button {
    margin-top: 25px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
   /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;*/
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
   /* border-top-left-radius: 0;
    border-top-right-radius: 0;*/
}

.table {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Responsive styles */

@media (max-width: 767px) {
    .container-fluid>.navbar-header {
        margin-left: 10px;
    }
    .navbar-inverse .navbar-brand {
        padding-left: 0;
    }
}
